.App {
  text-align: center;
  display: flex;
}

.header {
  margin: auto;
  text-align: center;
}

.kontak {
  display: flex;
  margin: auto;
  width: 50%;
}

.gambar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.konten {
  width: 100%;
}

.kantak1 {
  font-size: 16px;
  font-weight: 500;
  text-underline-offset: 8px;
}

.kantak2 {
  font-size: 25px;
  font-weight: 700;
}

.kantak3 {
  font-size: 16px;
  font-weight: 500;
}
